<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"       
	xmlns:p="http://www.springframework.org/schema/p"  
	xmlns:context="http://www.springframework.org/schema/context"   
	xmlns:tx="http://www.springframework.org/schema/tx"  
	xmlns:aop="http://www.springframework.org/schema/aop"  
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
	http://www.springframework.org/schema/beans/spring-beans.xsd    
	http://www.springframework.org/schema/aop    
	http://www.springframework.org/schema/aop/spring-aop.xsd    
	http://www.springframework.org/schema/tx    
	http://www.springframework.org/schema/tx/spring-tx.xsd    
	http://www.springframework.org/schema/context    
	http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="loginAction" class="cn.itcast.jx.action.LoginAction" scope="prototype"></bean>
	
	<bean id="homeAction" class="cn.itcast.jx.action.HomeAction" scope="prototype"></bean>
	
	<!-- 配置DeptAction -->
	<bean id="deptAction" class="cn.itcast.jx.action.sysadmin.DeptAction" scope="prototype">
		<property name="deptService" ref="deptService"></property>
		
	</bean>
	
	<!-- 配置UserAction -->
	<bean id="userAction" class="cn.itcast.jx.action.sysadmin.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
		<property name="deptService" ref="deptService"></property>
		<property name="roleService" ref="roleService"></property>
	</bean>
	<bean id="roleAction" class="cn.itcast.jx.action.sysadmin.RoleAction" scope="prototype">
		<property name="roleService" ref="roleService"></property>
		<property name="moduleService" ref="moduleService"></property>
		<property name="pool" ref="pool"></property>
	</bean>
	
	<!-- 配置购销合同相关的Action -->
	<bean id="contractAction" class="cn.itcast.jx.action.cargo.ContractAction" scope="prototype">
		<property name="contractService" ref="contractService"></property>
		<property name="deptService" ref="deptService"></property>
		
	</bean>
	<bean id="contractProductAction" class="cn.itcast.jx.action.cargo.ContractProductAction" scope="prototype">
		<property name="contractProductService" ref="contractProductService"></property>
		<property name="factoryService" ref="factoryService"></property>
	</bean>
	<bean id="extCproductAction" class="cn.itcast.jx.action.cargo.ExtCproductAction" scope="prototype">
		<property name="extCproductService" ref="extCproductService"></property>
		<property name="factoryService" ref="factoryService"></property>
	</bean>
	
	<!-- 配置出货表的Action -->
	<bean id="outProductAction" class="cn.itcast.jx.action.cargo.OutProductAction" scope="prototype">
		<property name="contractProductService" ref="contractProductService"></property>
	</bean>
	
	<!-- 配置报运单 相关的Action -->
	<bean id="exportAction" class="cn.itcast.jx.action.cargo.ExportAction" scope="prototype">
		<property name="exportService" ref="exportService"></property>
		<property name="contractService" ref="contractService"></property>
		<property name="exportProductService" ref="exportProductService"></property>
	</bean>
	
	<!-- 配置POIAction -->
	<bean id="poiAction" class="cn.itcast.jx.action.cargo.POIAction" scope="prototype">
		<property name="factoryService" ref="factoryService"></property>
	</bean>
	
	<!-- 配置PDFAction -->
	<bean id="pdfAction" class="cn.itcast.jx.action.cargo.PDFAction" scope="prototype">
		<property name="contractProductService" ref="contractProductService"></property>
	
	</bean>
	<bean id="statChartAction" class="cn.itcast.jx.action.stat.StatChartAction" scope="prototype">
		<property name="sqlDao" ref="sqlDao"></property>
	</bean>
	
	
</beans>
