<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:cxf="http://cxf.apache.org/core"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/core
        http://cxf.apache.org/schemas/core.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/jaxrs
        http://cxf.apache.org/schemas/jaxrs.xsd
        ">
    <bean id="userServiceImpl" class="cn.itcast.webservice.UserServiceImpl"></bean>    
        
	<!-- 配置服务端 -->	
	<jaxws:server address="/userService">
		<!-- 谁来提供服务 -->
		<jaxws:serviceBean>
			<ref bean="userServiceImpl"/>
		</jaxws:serviceBean>
	</jaxws:server>
	

</beans>





